/**/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f9f9f9;
  overflow: auto;
//   font-size: 12px !important;
  min-width: 1250px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.height100 {
  height: 100%;
}

[flex] {
  display: flex;
}
[flex-align-center] {
  display: flex;
  align-items: center;
  margin-right:10px
}
[flex-align] {
  display: flex;
  align-items: flex-start;
}

[flex-column] {
  display: flex;
  flex-direction: column;
}
img{
	vertical-align: middle;
}
.spacebetween,
[spacebetween] {
  justify-content: space-between;
}

.spacearound,
[spacearound] {
  justify-content: space-around;
}

.center,
[center] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.colcenter,
[colcenter] {
  display: flex;
  align-items: center;
}

.flexwrap,
[flexwrap] {
  flex-wrap: wrap;
}


@for $i from 1 to 15 {
  [col='#{$i}'] {
    flex: $i 0 0 !important;
  }
}

@mixin fontColors($fcolor, $scolor) {
      background: linear-gradient(to right bottom, $fcolor,$scolor);
      -webkit-background-clip: text;
      color: transparent;
}

.introText {
  color: #9EA7B4;
}

[text-center] {
  text-align: center;
}

[text-left] {
  text-align: left;
}

[text-right] {
  text-align: right;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
.baseText{
	color: #464C5B;
}
.pd-10{
  padding: 10px;
}
.mg-12{
	margin:12px 0 !important;
}
.mb-12{
  margin-bottom:12px;
}
.mr-20{
	margin-right:10px;
}
[flex-1]{
	flex:1 0 0;
}
.filter-weight{
  font-weight: 700;
}
.pannelPadding-10{
  padding: 10px;
}
.pannelPaddingBg-10{
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}
.before-require::before{
  content: '*';
  color: #f00;
  padding: 0 2px;
}
.month-plan-card font,.month-plan-explain{
  font-size: 14px;
  color: #9EA7B4;
}
.tag {
  border-radius: 2px;
  display: inline-block;
  padding: 2px 5px;
  margin: 2px 0 2px;
}

.tag.tag-green {
  background: rgba(247, 206, 4, 0.1);
  color: rgba(247, 206, 4, 1);
}
.tag.tag-ywc {
  background: rgba(25, 190, 107, 0.1);
  color: #19BE6B;
}
.tag.tag-yellow {
  background: rgba(255, 172, 54, 0.10);
  color: #FFAC36;
}
.tag.tag-red {
  background: rgba(255, 101, 94, 0.1);
  color: #FF655E;
}
.question-wtbq {
  background: #19BE6B;
  color: #fff !important;
  font-size: 12px !important;
  padding: 1px 2px;
  border-radius: 3px;
  margin-right: 5px;
}
.question-tag-ysqgb {
  background: rgb(240, 142, 5);
  color: #fff !important;
  font-size: 12px !important;
  padding: 1px 2px;
  border-radius: 3px;
}
.question-tag-green {
  background: rgb(57, 138, 61);
  color: #fff !important;
  font-size: 12px !important;
  padding: 1px 2px;
  border-radius: 3px;
}
.table th{
  color: #909399;
  background: #f5f7fa;
}
.money {
  color: #F67A7A;
  font-weight: bold;
}
.hidden,[hidden]{
  visibility: hidden;
}
.empty_content{
  font-size:16px;
  font-weight:700;
  margin:5px 0 !important
}
.tasklog-ydzt{
  display: inline-block;
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
  font-size:12px;
  border-radius: 4px;
}
.tasklog-ydzt-wy{
  border:1px solid  rgba(144,147,153,.2); 
  color: #909399;
  background-color: rgba(144,147,153,.1);
}
.tasklog-ydzt-yy{
  border:1px solid rgba(64,158,255,.2); 
  color: #409EFF;
  background-color:rgba(64,158,255,.1);
}
.tasklog-ydzt-wy:hover{
  cursor: pointer;
}

.query-condition > div {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 13px;
}
.query-title {
  display: inline-block;
  font-size: 14px;
  width: 100px;
  white-space: nowrap;
  text-align: right !important;
  margin-right: 10px !important;
  padding: 3px 0 !important;
  font-weight: 700;
}
.query-list {
  display: inline-block;
  width: 95%;
}
.query-list span:hover {
  cursor: pointer;
}
.query-list span {
  display: inline-block;
  padding: 0px 5px;
  color: #637d8a;
  border-radius: 3px;
  margin: 5px 10px 0 0;
  font-size: 14px;
}
.bg-active {
  background: #1997d7;
  color: #fff !important;
}
.emptyContent{
  width: 200px;
  height: 180px;
  text-align: center;
  margin:20px auto !important; 
}
.emptyContent img{
  width: 100%;
  height: 100%;
}
.personalJs-top .el-input .el-input__inner{
  background: none;
}
.personalJs-top .el-input .el-input__inner::placeholder,.personalJs-top .el-input .el-input__icon{
  color: #fff;
}
.personalJs-top .el-input .el-input__inner{
  color: #fff;
}
.expandIcon:hover{
  cursor: pointer;
}
.textellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file_color{
  color:#23527c ;
}
.zdsfw-fxdj-s1{
   color: #f00 !important;
   background-color: rgba(255, 0, 0,0.2) !important;
   border-color: rgba(255, 0, 0,0.3) !important;
}
.zdsfw-fxdj-s2{
  color: rgb(252, 88, 88) !important;
  background-color: rgba(252, 88, 88,0.2) !important;
  border-color: rgba(252, 88, 88,0.3) !important;
}
.zdsfw-fxdj-s3{
  color: rgb(252, 130, 59) !important;
  background-color: rgba(252, 130, 59,0.2) !important;
  border-color: rgba(252, 130, 59,0.3) !important;
}